RFQ.Altex/bin/
RFQ.Altex/obj/
RFQ.Altex.Specs/bin/
RFQ.Altex.Specs/obj/
RFQ.Communication/bin/
RFQ.Communication/obj/
RFQ.Core/bin/
RFQ.Core/obj/
RFQ.Repository/bin/
RFQ.Repository/obj/
RFQ.Repository.Specs/bin/
RFQ.Repository.Specs/obj/
RFQ.Service/bin/
RFQ.Service/obj/
RFQ.Workflow/bin/
RFQ.Workflow/obj/
RFQ.Workflow.Specs/bin/
RFQ.Workflow.Specs/obj/
RFQ.Install/obj/
RFQ.Install/bin/
RFQ.Service/RFQ.Service.csproj.DotSettings.user
RFQService.sln.DotSettings.user
RFQService.v12.suo
