<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false">

  <targets>
    <target xsi:type="EventLog" name="rfq-event-log" source="RFQService" log="Application" machineName="."
            layout="${longdate} ${message} ${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="rfq-trace-log" fileName="c:/WebDev/Log/rfq-trace-${date:format=yyyyMMdd}.log" keepFileOpen="false"
            layout="${longdate} | ${uppercase:${level}} | ${message} ${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="ColoredConsole" name="console" useDefaultRowHighlightingRules="false"
            layout="${time} ${message} ${onexception:inner=${newline}${exception:format=tostring}}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
    </target>
  </targets>

  <rules>
    <logger name="NHibernate.SQL" minlevel="Debug" writeTo="console,rfq-trace-log" final="true" />
    <logger name="NHibernate.*" minlevel="Warn" writeTo="console,rfq-trace-log" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="rfq-trace-log" />
    <logger name="*" minlevel="Error" writeTo="rfq-event-log" />
  </rules>
</nlog>